@font-face {
  font-family: casino;
  src: url(/ephemera.otf);
}

:root {
  --width: 80vw;
  --machine-w: calc(var(--width) * .7);
  --machine-h: 500px;
  font-family: casino, system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

#root{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: stretch;
  height: 100vh;
}

#root2{
  position: relative;
  top: 0px;
}

canvas{
  z-index: 2;
}

body {
  overflow: hidden;
  background-image: url(/bg.png);
  margin: 0 auto;
  background-position: bottom;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.body{
  min-width: 500px;
}

.slot {
  display: flex;
  align-items: center;
  justify-content: center;
}

#slot-trigger {
  scale: 2;
  cursor: pointer;
  margin-top: -100px;
  margin-left: 13px;
}

.base-machine {
  width: var(--machine-w);
  height: var(--machine-h);
  border-radius: 20% / 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.base-machine .base-frame {
  opacity: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 500px;
  width: 100%;
  background-image: url(/slots.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.base-machine .slots {
  width: calc((var(--machine-w) / 3) - 30px);
  height: calc(var(--machine-h) - 60px);
  border-radius: 6px;
  font-size: 2rem;
  line-height: 2;
  overflow: hidden;
}

.char {
  padding: 80px 0; 
  color: #fff;
  font-weight: bold;
  font-size: 5rem;
  border-top: 0;
  border-bottom: 0;
  filter: drop-shadow(3px 5px #ae6c2e);
}

.val{
  color: #fff;
  background: linear-gradient(180deg, #fff 0%,#fff 40%, #474b5e 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  scale: 1.5;
}

.logo{
  margin: 0 auto;
  display: block;
  width: 200px;
}

@-webkit-keyframes pulse-effect {
  25% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }

}
@keyframes pulse-effect {
  25% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
}

.pulse-effect {
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-animation-name: pulse-effect;
  animation-name: pulse-effect;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@media (min-width: 1440px) {
  .char{
    width: 150px;
  }
}

.char2{
  position: relative;
  left: -20px;
}

@media (max-width: 1367px) {
  .char{
    font-size: 4rem;
  }

  .char1, .char2{
    position: relative;
    left: -30px;
  }

  .logo{    
    position: fixed;
    bottom: -25px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 150px;
  }
}

@media (max-width: 1140px) {
  .char{
    width: 100px;
    font-size: 3rem;
    padding: 80px 0;
  }
  
  .base-machine{
    width: 70vw;
  }

  @-webkit-keyframes pulse-effect {
    25% {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
  
  }
  @keyframes pulse-effect {
    25% {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
  }
}

@media (max-width: 768px) {
  .char{
    width: 100px;
    font-size: 2rem;
    padding: 40px 0;
  }

  #slot-trigger {
    scale: 1.5;
    cursor: pointer;
    margin-top: -100px;
    margin-left: 3px;
  }
}


@media (max-width: 600px) {
  :root{
    width: 100%;
    overflow: hidden;
  }

  #slot-trigger {
    scale: 1;
    cursor: pointer;
    margin-top: -50px;
    margin-left: -3px;
  }

  .char1, .char2{
    left: 0px;
  }
}

@media (max-width: 600px) {
  :root{
    width: 100%;
    overflow: hidden;
  }

  #slot-trigger {
    scale: 1;
    cursor: pointer;
    margin-top: -50px;
    margin-left: -3px;
  }

  .char1, .char2{
    left: 0px;
  }
}

@media (max-width: 490px) {
  .char{
    width: 75px;
    font-size: 1.5rem;
  }
  
  .slot{
    padding: 0 50px;
    justify-content: initial;
  }

  .base-machine{
    width: 90vw;
    margin-left: auto;
  }

  @-webkit-keyframes pulse-effect {
    25% {
      -webkit-transform: scale(1.05);
      transform: scale(1.05);
    }
  
  }
  @keyframes pulse-effect {
    25% {
      -webkit-transform: scale(1.05);
      transform: scale(1.05);
    }
  }
}

@media (max-width: 420px) {
  .char{
    width: 50px;
    font-size: 1.5rem;
    padding: 25px 0;
  }

  .slot{
    padding: 0 100px;
    justify-content: initial;
  }

  #slot-trigger {
    scale: .8;
    cursor: pointer;
    margin-top: -50px;
    margin-left: -5px;
  }
}

.details{
  text-align: center;
  font-size: 32px;
  filter: drop-shadow(3px 5px #ae6c2e);
  background: linear-gradient(180deg, #fff 0%,#fff 40%, #474b5e 100%);
  color: #fff;
  background-clip: text;
  transition: .7s all ease;
  p{
    margin: 0;
  }
}

.hide {
  color: transparent !important;
  background: transparent;
}